<style type="text/css" media="screen">
div {margin-left: 30%;
    font-family: "Avenir",Arial,sans-serif;}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    text-align:center;
    }
   li{
    float:left;
    margin:auto;
    padding:0;
    background-color:#c91212;
    }
   li  {
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    }
   li a:hover {color:rgb(17, 168, 62);
                display:block
            }

    ul li ul   {display:none;}
    div ul li:hover ul {display:block;}
    
    li ul li ul li{display:none;}
    div ul li ul li:hover ul li{display: block;}
    li:hover ul li ul li {float:none;}
    
    li ul {position:absolute;}  
   </style>